name: "Release Dev Container Features"

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
      packages: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v3

      - name: "Publish Features"
        uses: devcontainers/action@v1
        with:
          publish-features: "true"
          base-path-to-features: "./features"
          generate-docs: "true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create PR for Documentation
        id: push_image_info
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e
          echo "Start."

          # Configure git to use the GitHub actions bot account
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          # Create a new branch for this update
          branch=automated-documentation-update-$GITHUB_RUN_ID
          git checkout -b $branch

          # Add, commit, and push changes
          git add features/**/README.md
          git commit -m "Automated documentation update [skip ci]" || export NO_UPDATES=true

          # Push changes if there were any updates
          if [ "$NO_UPDATES" != "true" ] ; then
              git push origin "$branch"

              gh pr create --title "Automated documentation update" \
                           --body "Auto-generated documentation from feature metadata" \
                           --base main \
                           --head "$branch"
          fi
